:root {
  --key_width: 6%;
  /* --key_height: calc(var(--key_width) / 9 * 2); */
  --max_width: 50px;
  --key--wide: 9%;
}

.section-container {
  margin: 0 auto;
  /* max-width: calc(var(--body-width) * 1); */
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.keyboard_container {
  padding: 5px auto;
  background: rgb(175, 175, 175);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  user-select: none;
  transition: bottom 0.4s;
}
.keys_container {
  margin: 0 auto;
  max-width: 95%;
  min-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
textarea {
  border: 2px solid grey;
  resize: none;
}

.key {
  min-width: var(--key_width);
  position: relative;
  min-height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin: 3px;
  /* padding: 3px; */
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ddecf2;
  background-color: rgba(0, 0, 0, 0.5);
}

.key--wide
{
  min-width: var(--key--wide);
}
.key--space {
  width: calc(var(--key--wide) * 3);
}

.key:active {
  background-color: rgba(0, 0, 0, 0.7);
  /* transition: ease-out; */
  animation: ease-in;
  animation-delay: 50ms;
}
.key:focus {
  outline: none;
}

.special_key {
  background-color: #1c232e;
  color: #ddecf2;
}

.language_indicator {
  color: #000;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
}
.language_indicator:active {
  border: 0;
  background-color: rgba(0, 0, 255, 0.75);
}
.language_indicator:focus {
  border: 0;
}

.activatable_key::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.activatable_key--active::after {
  background: #08ff00;
}