:root {
  --key_width: 6%;
  --key_height: 25%;
  --max_width: 50px;
  --wider_key: 12%;
}

.container {
  margin: 0 auto;
  width: 930px;
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
}
.keyboard {
  width: 100%;
  padding: 5px 0;
  background: rgb(175, 175, 175);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  user-select: none;
  transition: bottom 0.4s;
}
.keys_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
textarea {
  border: 2px solid grey;
  resize: none;
}

.key {
  min-width: var(--key_width);
  /* width: fit-content; */
  position: relative;
  height: 50px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ddecf2;
  background-color: rgba(0, 0, 0, 0.5);
}

.key_Backspace,
.key_CapsLock,
.key_Shift,
.key_Enter
{
  width: var(--wider_key);
}
.key_Space {
  width: calc(var(--wider_key) * 3);
}
.key_ArrowLeft,
.key_ArrowRight,
.key_ArrowUp,
.key_ArrowDown {
  width: 7.5%;
}

.key:active {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  transition: ease-out;
}

.special_key {
  background-color: #1c232e;
  color: #ddecf2;
}

.language_indicator {
  color: #000;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
}
.language_indicator:active {
  border: 0;
  background-color: rgba(0, 0, 255, 0.75);
}
.language_indicator:focus {
  border: 0;
}

.activatable_key::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.activatable_key--active::after {
  background: #08ff00;
}